@model CurriculumVitae.Models.ExamScore

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExamScore</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OralExam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OralExam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FifteenMinScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FifteenMinScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MidtermExam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MidtermExam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalExam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalExam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToltalScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToltalScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewAndEvaluation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewAndEvaluation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicReview)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcademicReview)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConductComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConductComments)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
